Backup/GS1Decode.sln
Backup/GS1Decode.v12.suo
Backup/GS1Decode/decode.cs
Backup/GS1Decode/GS1Decode.csproj
Backup/GS1Decode/LICENSE
Backup/GS1Decode/Properties/AssemblyInfo.cs
Backup/GS1Decode/README.md
GS1Decode.v12.suo
GS1Decode/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UpgradeLog.htm
